<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='styles/index.css')}}">
  <title>Create Database</title>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form class="from" method="POST">
                    <h2>Create Database</h2>
                    <div class="inputbox">
                        <ion-icon name="key-outline"></ion-icon>
                        <input name="masterKEY" id="masterKEY" type="password" required>
                        <label for="">Set Master Key</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input name="DATABASE" id="DATABASE" type="text" required>
                        <label for="">Set Database Name</label>
                    </div>
                    <button type="submit">Create</button>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="/UI_SERVER/static/key-outline.svg"></script>
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>