{% extends "base.html" %} {% block title %}Create Database - {% endblock %} {% block
    content %}
    <form method="POST">
      <h3 align="center">Create Database</h3>
      <div class="form-group">
        <label for="DATABASE">Database Name</label>
        <input
          type="text"
          class="form-control"
          id="DATABASE"
          name="DATABASE"
          placeholder="Database Name"
        />
      </div>
      <div class="form-group">
        <label for="masterKEY">Set Master Key</label>
        <input
          type="password"
          class="form-control"
          id="masterKEY"
          name="masterKEY"
          placeholder="Set Master Key (Remember this)"
        />
      </div>
      <div class="form-group">
        <label for="confirmMK">Confirm Master Key</label>
        <input
          type="password"
          class="form-control"
          id="confirmMK"
          name="confirmMK"
          placeholder="Confirm Key"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}