<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>Home</title>
</head>
<body>
    <div class="Button-container" align="center">
        <input class="button" type="button" name="FileButton" id="FileButton" value="File">
        <input class="button" type="button" name="EntryButton" id="EntryButton" value="Entry">
        <input class="button" type="button" name="ToolsButton" id="ToolsButton" value="Tools">
        <input class="button" type="button" name="HelpButton" id="HelpButton" value="Help">
    </div>
    <div class="Group-container">
        <h4>{{Database}}</h4>
        <ul>
            <li>{{Group1}}</li>
            <li>{{Group2}}</li>
            <li>{{Group3}}</li>
            <li>{{Group4}}</li>
            <li>{{Group5}}</li>
            <li>{{Group6}}</li>
            <li>{{Group7}}</li>
            <li>{{Group8}}</li>
            <li>{{Group9}}</li>
            <li>{{Group10}}</li>
        </ul>
    </div>
    <div class="Data-container">
        <table border="2" style="background-color:rgb(255, 255, 255);">
            <tr wid>
                <th>Title</th>
                <th>Username</th>
                <th>Password</th>
                <th>URL</th>
                <th>Notes</th>
            </tr>
            <tr style="background-color:lightgrey;">
                <td>{{Title}}</td>
                <td>{{UserName}}</td>
                <td>{{Password}}</td>
                <td>{{URL}}</td>
                <td>{{Notes}}</td>
            </tr>
        </table>
    </div>

    <script>

    </script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
</body>
</html>