{% extends "base.html" %}

{% block stylelink %}<link rel="stylesheet" href="{{url_for('static', filename='styles/auth_base.css')}}">{% endblock %}
{% block title %}Create Database{% endblock %} 
{% block content %}
<div class="form-box">
    <div class="form-value">
        <form class="from" method="POST">
            <h2>Create Database</h2>
            <div class="inputbox">
                <ion-icon name="key-outline"></ion-icon>
                <input name="master_key" id="master_key" type="password" required>
                <label for="">Set Master Key</label>
            </div>
            <div class="inputbox">
                <ion-icon name="folder-outline"></ion-icon>
                <input name="db_name" id="db_name" type="text" required>
                <label for="">Set Database Name</label>
            </div>
            <button type="submit">Create</button>
            <div class="register">
                <p>Already Have a Database? <a href="/">Access it!</a></p>
            </div>
            <!--{% with messages = get_flashed_messages(category_filter="error")%}
                {%if messages %}
                    {%for message in messages%}
                        <div class="alert alert-danger alert-dismissible fade show">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    {%endfor%}
                {% endif%}
            {% endwith%}-->
        </form>
    </div>
</div>
{% endblock %}