<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <!--<link rel="stylesheet" href="/UI_SERVER/static/styles/file_view.css">-->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/file_view.css')}}">
    <title>Database</title>
</head>
<body>
    <section>
      <header>
        <div class="Button-Container">
          <div class="button-content">
            <button type="button">File</button>
            <button type="button">Entry</button>
            <button type="button">Tools</button>
            <button type="button">Help</button>
          </div>
        </div>
      </header>
      
      <div class="Body">
        <div class="Group-Container">
          <div class="group-content">
            <input type="button" value="database"> 
          </div>
        </div>

        <div class="Entry-Container">
          <div class="entry-content">
            <button type="button">Entry1</button>
          </div>
        </div>
      </div>

      <footer>
        <div class="Commandline-Container">
          <div class="commandline-content">
            <p>awdawfazt</p>
          </div>
        </div>
      </footer>
    </section>


  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>