<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/workspace.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/dropdown.css')}}">
    <!--With line below you can add Icons on the little bar, but it can't be local it's got to be a route or sth.-->
    <link rel="shortcut icon" type="image/png" href="/images/icon.ico">
    <title>Open Workspace - {{database}}</title>
</head>
<body>
    <style>tr{height: 4.5vh;}</style>
    <section>
        <header>
            <div class="Button-Container" name="Button">
                <div class="button-content" name="button">
                    <div class="dropdown">
                        <button class="dropbtn">File</button>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Entry</button>
                        <div class="dropdown-content">
                            <a href="/funcs/addEntry">Add Entry</a>
                            <a href="#">Edit Entry</a>
                            <a href="#">Duplicate Entry</a>
                            <a href="#">Delete Entry</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">View</button>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Tools</button>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Help</button>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="Content" name="Content">
            <div class="Group-Container" name="Group">
                <p class="Title" style="color: white;", align="center">{{database}}</p>
                <div class="group-content" name="group">
                    {% for group in groups %}
                        <div class="grouprow">
                            {% for grouprow in group %}
                                <button class="groupselect" name="select" onclick="selectgroup()"><td>{{grouprow}}</td></button>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <!--<table width="100%">
                        {% for group in groups %}
                            <tr style="color: #fff;">
                                {% for grouprow in group %}
                                    <div class="grouprow">
                                        <button></button>
                                        <td>{{grouprow}}</td>
                                    </div>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>-->
                </div>
            </div>
            <div class="Entry-Container" name="Entry">
                <div class="entry-content">
                    <table width="100%">
                        <tr style="color: #fff; height: 5vh;">
                            <th>Title</th>
                            <th>Name</th>
                            <th>Password</th>
                            <th>URL</th>
                        </tr>
                        {% for entry in entries %}
                            <tr align="center">
                                {% for row in entry %}
                                    <div class="row">
                                        <td>{{row}}</td>
                                    </div>
                                {% endfor %}
                                <td><button style="width:1vw;height:2vh;"><ion-icon name="list-outline" style="color: black;"></ion-icon></button></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <footer>
            <div class="CommandLine-Container" name="CommandLine">
                <div class="commandline-content"name="commandline">
                </div>
            </div>
        </footer>
    </section>
    <script lang="JavaScript" src="/static/src/selectgroup.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
