<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <title>Open Database -</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
      html,
      body {
        font-family: "Roboto", serif;
        font-size: 12px;
        background-color: #212121;
        color: #fff;
        -ms-progress-appearance: blue;
      }
    </style>
  </head>
  <body>
    <header>
      <p>Enter Master Key</p>
      <hr />
      <br />
    </header>

    <main>
      <form action="" method="post">
        <label for="master_password">Master Password:</label>
        <input type="text" id="master_password" required />
        <button>Show</button>

        <br /><br />

        <label for="key_file">Key File:</label>
        <input
          type="file"
          id="key_file"
          name="key_file"
          accept=".kd"
          required
        />
        <button>Icon</button>
      </form>
      <hr />
      <br />
    </main>

    <footer>
      <a
        href="https://flask.palletsprojects.com/en/2.3.x/quickstart/">
        <button type="button" id="help">Help</button>
      </a>
      <a href="main.html">
        <button type="submit">Ok</button>
      </a>
      <button type="reset" id="help">Cancel</button>
      <br />
      <small>&copy Copyright reserved</small>
    </footer>
  </body>
</html>
